Repository jamulussoftware/jamulus, pull requests merged in 2021-02, with the labels that each got.

#924 Add bug report template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: feature request

#953 Move installer translation scripts to /src/res/translation/wininstaller
  src/res/translation/wininstaller/de.nsi
  src/res/translation/wininstaller/en.nsi
  src/res/translation/wininstaller/installerlng.nsi
  src/res/translation/wininstaller/it.nsi
  src/res/translation/wininstaller/nl.nsi
  windows/installer.nsi
  windows/translate/installerlng.nsi
Labels: improvement, installer

#1006 Drop admin rights on open Jamulus after install
  windows/installer.nsi
Labels: installer

#1104 Update Slovak translation
  src/res/translation/translation_sk_SK.ts
Labels: translation

#1106 Prepare Swedish translation för V370
  src/res/translation/translation_sv_SE.ts
Labels: translation

#1097 V370 german
  src/res/translation/translation_de_DE.ts
Labels: translation

#1099 Updated Polish translation for 3.7.0 release
  src/res/translation/translation_pl_PL.qm
  src/res/translation/translation_pl_PL.ts
Labels: translation

#1110 Update Dutch translation for 3.7.0 (see #1086)
  src/res/translation/translation_nl_NL.qm
  src/res/translation/translation_nl_NL.ts
Labels: translation

#1112 IT Update for 3.7.0
  src/res/translation/translation_it_IT.qm
  src/res/translation/translation_it_IT.ts
Labels: translation

#1113 Update translation_fr_FR.ts for 3.7.0 Release
  src/res/translation/translation_fr_FR.ts
Labels: translation

#1125 Create fr.nsi
  src/res/translation/wininstaller/fr.nsi
  src/res/translation/wininstaller/installerlng.nsi
Labels: translation

#1124 Polish translation of Windows installer NSIS script
  src/res/translation/wininstaller/installerlng.nsi
  src/res/translation/wininstaller/pl.nsi
Labels: translation
