Repository jamulussoftware/jamulus, pull requests merged in 2022-07, with the labels that each got.

#2640 A11y Sound Alert for new person and new chat message
  .github/autobuild/android.sh
  .github/autobuild/ios.sh
  .github/autobuild/linux_deb.sh
  .github/autobuild/mac.sh
  .github/autobuild/windows.ps1
  COMPILING.md
  Jamulus.pro
  android/AndroidManifest.xml
  src/client.cpp
  src/client.h
  src/clientdlg.cpp
  src/clientdlg.h
  src/clientsettingsdlg.cpp
  src/clientsettingsdlg.h
  src/clientsettingsdlgbase.ui
  src/res/sounds/new_message.wav
  src/res/sounds/new_user.wav
  src/resources.qrc
  src/settings.cpp
  src/settings.h
  src/util.cpp
Labels: needs documentation

#2708 Update nl_NL app translation for 3.9.0
  src/translation/translation_nl_NL.ts
Labels: translation

#2719 Update translation_zh_CN.ts
  src/translation/translation_zh_CN.ts
Labels: translation

#2729 Some more directory server discovered...
  src/translation/translation_fr_FR.ts
Labels: translation

#2706 Update es_ES app translation for 3.9.0
  src/translation/translation_es_ES.ts
Labels: translation

#2721 #2720 Add libQt5Multimedia5 dependency to deb control
  distributions/debian/control
Labels: bug, needs documentation

#2732 Update sk_SK app translation for 3.9.0
  src/translation/translation_sk_SK.qm
  src/translation/translation_sk_SK.ts
Labels: translation

#2728 Update pt_BR app translation for r3.9.0
  src/translation/translation_pt_BR.ts
Labels: translation

#2748 Partly update de_DE app translation for r3.9.0
  src/translation/translation_de_DE.ts
Labels: translation

#2735 Update pl_PL app translation for 3.9.0
  src/translation/translation_pl_PL.qm
  src/translation/translation_pl_PL.ts
Labels: translation

#2747 Update pt_PT app translation for 3.9.0
  src/translation/translation_pt_PT.ts
Labels: translation

#2751 Translation: Fix mistake in German translation
  src/translation/translation_de_DE.ts
Labels: translation
