Repository jamulussoftware/jamulus, pull requests merged in 2023-08, with the labels that each got.

#3147 Add trebmuh to create-translation-issues.sh
  tools/create-translation-issues.sh
Labels: translation

#3149 Autobuild: Hotfix: Remove caching and pinning of create-dmg
  .github/workflows/autobuild.yml
  mac/deploy_mac.sh
Labels: bug, dependencies

#3150 Translations update from Hosted Weblate
  src/translation/translation_ko_KR.ts
Labels: translation

#3157 Add team id to macOS notarization action
  .github/workflows/autobuild.yml
Labels: dependencies, tooling
